<%- include('../Patials/Header')%>
    <section class="mx-auto w-full max-w-7xl px-4 py-4">
        <div class="flex flex-col space-y-4 md:flex-row md:items-center md:justify-between md:space-y-0">
            <div>
                <h2 class="text-lg font-semibold">Employees</h2>
                <p class="mt-1 text-sm text-gray-700">
                    This is a list of all employees. You can add new employees, edit or
                    delete existing ones.
                </p>
            </div>
            <div>
                <a type="button" href="/addemp"
                    class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
                    Add new employee
                </a>
            </div>
        </div>
        <div class="mt-6 flex flex-col">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                    <div class="overflow-hidden border border-gray-200 md:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-normal text-gray-700">
                                        <span>Employee</span>
                                    </th>
                                    <th scope="col" class="px-12 py-3.5 text-left text-sm font-normal text-gray-700">
                                        Job-Title
                                    </th>
                                    <th scope="col" class="px-12 py-3.5 text-left text-sm font-normal text-gray-700">
                                        Address
                                    </th>
                                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-normal text-gray-700">
                                        Gender
                                    </th>
                                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-normal text-gray-700">
                                        Date of Birth
                                    </th>
                                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-normal text-gray-700">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="divide-y divide-gray-200 bg-white">
                                <% Employees.forEach((emp, id)=> { %>
                                    <tr>
                                        <td class="whitespace-nowrap px-4 py-4">
                                            <div class="flex items-center">
                                                <div class="h-10 w-10 flex-shrink-0">
                                                    <img class="h-10 w-10 rounded-full object-cover"
                                                        src="https://e7.pngegg.com/pngimages/782/114/png-clipart-profile-icon-circled-user-icon-icons-logos-emojis-users-thumbnail.png"
                                                        alt="" />
                                                </div>
                                                <div class="ml-4">
                                                    <div class="text-sm font-medium text-gray-900">
                                                        <%= emp.name %>
                                                    </div>
                                                    <div class="text-sm text-gray-700">
                                                        <%= emp.email %>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="whitespace-nowrap px-12 py-4">
                                            <div class="text-sm text-gray-900 ">
                                                <%= emp.post %>
                                            </div>
                                            <!-- <div class="text-sm text-gray-700">Engineering</div> -->
                                        </td>
                                        <td class="whitespace-nowrap px-12 py-4">
                                            <div class="text-sm text-gray-900 ">
                                                <%= emp.address %>
                                            </div>
                                        </td>
                                        <td class="whitespace-nowrap px-4 py-4">
                                            <span
                                                class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">
                                                <%= emp.gender %>
                                            </span>
                                        </td>
                                        <td class="whitespace-nowrap px-4 py-4">
                                            <span
                                                class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">
                                                <%= emp.date %>
                                            </span>
                                        </td>
                                        <td>
                                            <a href="/deleteEmp/<%-id%>">
                                                <button
                                                    class="bg-red-700 px-3 py-2 rounded-md text-sm text-white font-semibold">Delete</button>
                                            </a>
                                            <a href="/editEmp/<%-id%>">
                                                <button
                                                    class="bg-blue-700 px-3 py-2 rounded-md text-sm text-white font-semibold">Edit</button>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../Patials/Footer')%>